/* PayloadCMS custom styles - non-Tailwind only */
/* All Tailwind/shadcn CSS variables are in custom.scss */

/* RTL date picker navigation fixes */
[dir="rtl"] .react-datepicker__navigation--next {
  transform: rotate(180deg);
  right: 35px;
}
[dir="rtl"] .react-datepicker__navigation--previous {
  transform: rotate(180deg);
  right: 20px;
}
