@import './../styles/payloadStyles.css';

.field-type.checkbox .checkbox-input {
  padding-top: 34px;
}

.link-from-relation {
  padding-top: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
  }
}

.icon-link {
  padding-top: 0;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  span {
    vertical-align: middle;
  }

  img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
}

.field-type.relationship .relationship--multi-value-label__content {
  max-width: 300px;
}

.field-type.upload.invitationDocument {
  max-width: 300px;
}

@layer payload-default {
  .collection-list {
    overflow: auto;
  }
}



:root {
  --nav-width: 180px;
}


.field-type.textarea textarea {
  min-height: 42px;
  padding: 0;
  resize: vertical;
  box-sizing: border-box;
}


@layer payload-default {
  .collection-list{
    .query-preset-bar {
      width: auto;
      position: absolute;
      z-index: 4;
      margin-right: 20px;
      right: 245px;
      padding-right: 20px;
    }

    .icon.icon--search{
      padding-left: 19px;
    }

    .table {
      max-height: calc(100vh - 260px); /* 100vh - (header + footer heights) */
      overflow-y: auto !important; /* Enable vertical scrolling */
      display: block !important;
      margin-top: 2px;
    }

    .table th, .table td {
      padding: calc(var(--base) * .2);
      min-width: 10px;
    }

    table {
      width: 100% !important;
      border-collapse: collapse !important;
    }

    th {
      position: sticky !important;
      top: 0 !important;
      z-index: 2 !important; /* Ensure headers stay above content */
      background: var(--theme-input-bg) !important;
    }

    .condition{
      z-index: 3;
    }

    .search-bar{
      z-index: 3;
    }
    .payload__modal-container.payload__modal-container--enterDone ,.payload__modal-container--appear, .payload__modal-container--appearDone, .payload__modal-container--enter, .payload__modal-container--enterDone, .payload__modal-container--exit{
      z-index: 0 !important;
    }


  }

  .popup-button-list.popup-button-list__text-align--left.popup-button-list__button-size--default > button{
    text-align: right !important;
  }
  .dashboard__group {
    float: right;
    width: 100%;
  }
  .dashboard__group li{
    width: 20%;
    float: right;
    padding: 10px 20px;
    list-style: none;
  }
  .field-type.group-field.group-field--top-level.group-field--within-tab {
    margin: 5px !important;
    padding: 10px !important;
  }
}

.array-field__header-action {
  .popup__content {
    left: 0;
  }

}
.live-preview-window{
  width: 50% !important;
}

.payload__modal-container.payload__modal-container--enterDone ,.payload__modal-container--appear, .payload__modal-container--appearDone, .payload__modal-container--enter, .payload__modal-container--enterDone, .payload__modal-container--exit{
  z-index: 0 !important;
  /*
  pointer-events: none;
  */
}